{% extends 'base.html.twig' %}

{% block title %}{{profil.firstname}}{{profil.lastname}}{% endblock %}

{% block body %}
    <style>
    h1{text-align: center}
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

   .user_informations{
	display:flex;
	gap: 20px;
   }

   section div:not(.user_informations){
	padding: 20px 0;
   }
   .subtitle{
	font-weight: bold;
	font-size: 1.3rem;
   }
	.student{
		font-weight: bold;
		font-size: 2rem;
	}
   .left, .right  {
	width: 60%;
	background: #21534F;
	padding: 50px 30px;
   }
   .right{
	width: 40%;
	background: #21534F;
	padding: 50px 30px;
   }
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

}
    </style>

     {% include "partials/_header.html.twig" %}
        <div class="example-wrapper">
            
                <br><br>

                    <div class="user_informations">
						<section class="left">
							<p class="student">{{profil.firstname}} {{profil.lastname}}</p>
							<p>Diplômé depuis 2010 de la promotion {{profil.promotion}},</p>
								<div>
									<p  class="subtitle">À propos de moi</p>
									<p>{{profil.biography}}</p>
								</div>
								<div>
									<p class="subtitle">Expérience</p>
								</div>
						</section>

						<section class="right">
							<div>
								<p class="subtitle">Poste actuel</p>
								<p>{{profil.job}}</p>
							</div>

							<div>
								<p class="subtitle">Structure / Organisme </p> 
								<p>{{profil.company}}</p>
							</div>

							<div>
								<p class="subtitle">Localisation du poste</p>
								<p>{{profil.location}}</p>
							</div>


							<div>
								<p class="subtitle">Téléphone</p>
								<p>{{profil.phoneNumber}}</p>
							</div>

							<div>
								<p class="subtitle">Email</p>
								<p><a href="mailto:{{profil.email}}">{{profil.email}}</a></p>
							</div>
							<div>
								<p class="subtitle">Linkedin</p>
								<p><i class="fa-solid fa-arrow-up-right"></i></p>
							</div>
						</section>
					</div>
                       		
                
        </div>
{% endblock %}