{% extends 'base.html.twig' %}

{% block title %}{{profil.firstname}}{{profil.lastname}}{% endblock %}

{% block body %}
    <style>
    h1{text-align: center}
    .example-wrapper { margin: 3em auto; max-width: 1000px; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    table { 
	width: 1200px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee;
    color: #002F34; 
	}

th { 
	background: #21524F; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}
    </style>
     {% include "partials/_header.html.twig" %}
        <div class="example-wrapper">
            
                <br><br>

                    <div class="user_informations">
					<h1>{{profil.firstname}} {{profil.lastname}}</h1>
					<p>Diplômé depuis 2010 de la promotion </p>
                       <table>
                            <thead>
                                <tr>
								<th>Biographie</th>
								<th>Métier</td>
                                <th>Secteur d'activité</th>
                                <th>Promotion (année et nom)</th>
                                <th>Contact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
								
                                {# <td data-column="First Name"><a href="#"> {{ [profil.lastname, profil.firstname ]}}</a> </td> #}
								<td>{{profil.biography}}</td>
								<td data-column="Job Title">{{profil.job}}</td>
								<td data-column="Job Title">{{profil.businessSector}}</td>
                                <td data-column="Job Title">{{profil.promotion}}</td>
                                <td data-column="Twitter">@james</td>
                                </tr>
								</a>
                            </tbody>
                        </table>
                    </div>
				{# {% endfor %} #}
					
                
        </div>
   
    </div>
{% endblock %}